<h1>Display your Pirate here</h1>
<%="Name: #{@pirate.name}"%>
<%="Name: #{@pirate.weight}"%>
<%="Name: #{@pirate.height}"%>


<h2>Display your first ship here</h2>
<%= "Name: #{@ship1.name}" %> 
<%= "Weight: #{@ship1.type}" %> 
<%= "Height: #{@ship1.booty}" %> 

<h2>Display your second ship here</h2>
<%= "Name: #{@ship2.name}" %> 
<%= "Weight: #{@ship2.type}" %> 
<%= "Height: #{@ship2.booty}" %> 