<h1>Pirates</h1>

  <h2>Name: <%= @pirate.name %></h2><br>
  <h2>Weight: <%= @pirate.weight %> pounds</h2><br>
  <h2>Height: <%= @pirate.height %> inches</h2>

<h1>Ships</h1>
<% @ships.each do |ship| %>
    <p>Name: <%= @ship.name %></p>
    <p>Type: <%= @ship.type %></p>
    <p>Booty: <%= @ship.booty %></p>
<% end %>